* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
}
.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background: linear-gradient(
        90deg,
        rgba(4, 181, 75, 1) 0%,
        rgba(0, 255, 183, 1) 49%,
        rgba(1, 218, 223, 1) 100%
    );
}
section.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.container section.form_container {
    border: 2px solid #000;
    border-radius: 10px;
    width: 30%;
    margin: 0 auto;
    padding: 20px 0;
}
section.container section.form_container div.top {
}
section.container section.form_container div.top h5 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
section.container section.form_container div.bottom {
}
section.container section.form_container div.bottom div.input_container {
    width: 100%;
    display: flex;
    padding: 0 20px;
    margin-bottom: 20px;
    align-items: center;
}
section.container section.form_container div.bottom div.input_container label {
    width: 30%;
    display: block;
}
section.container section.form_container div.bottom div.input_container input {
    width: 70%;
    display: block;
    padding: 10px;
    border-radius: 6px;
}
section.container section.form_container div.bottom div.submit_container {
    padding: 0 20px;
    text-align: center;
}
section.container
    section.form_container
    div.bottom
    div.submit_container
    p.error-message {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}
section.container
    section.form_container
    div.bottom
    div.submit_container
    button {
    padding: 10px 20px;
    margin-right: 50px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}
section.container section.form_container div.bottom div.submit_container a {
    font-weight: 500;
}
section.container
    section.form_container
    div.bottom
    div.submit_container
    button:hover {
    background-color: #0d93bf;
    color: #fff;
    cursor: pointer;
}
