<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
            type="text/css"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'images/favicon.png' %}"
        />
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <div class="left">
                <h1><img src="{% static 'images/logo.png' %}" alt="logo" /></h1>
            </div>
            <div class="right">
                {% if request.user.is_authenticated%}
                <span
                    >{{request.user.first_name}}
                    {{request.user.last_name}}</span
                >
                <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </div>
        </header>
        <section id="main">
            <h2>ToDo For Students</h2>
            <form id="create-task" action="" method="post">
                {% csrf_token %}
                <div class="input_container">
                    <label for="{{form.add_task.id_for_label}}"
                        >Enter Task</label
                    >
                    {{form.add_task}}
                </div>
                <div class="submit_container">
                    <input type="submit" id="task-submit" value="Add Task" />
                </div>
            </form>
        </section>
        <section class="list">
            <div class="tasks">
                <h2>Task List</h2>
                <ul>
                    <li>List 1</li>
                    <li>List 2</li>
                    <li>List 3</li>
                </ul>
            </div>
        </section>
    </body>
</html>
