<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
            type="text/css"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{% static 'images/favicon.png' %}"
        />
        <title>{{title}}</title>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="left">
                <a href="{% url 'web:index' %}"
                    ><h1>
                        <img
                            src="{% static 'images/logo.png' %}"
                            alt="logo"
                        /></h1
                ></a>
            </div>
            <div class="right">
                {% if request.user.is_authenticated%}
                <span
                    >{{request.user.first_name}}
                    {{request.user.last_name}}</span
                >
                <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </div>
        </header>
        <section id="main">
            <h2>ToDo For Students</h2>
            <form
                id="create-task"
                action="{% url 'users:create_task' %}"
                method="post"
                class="ajax redirect"
            >
                {% csrf_token %}
                <div class="input_container">
                    <label for="{{form.add_task.id_for_label}}"
                        >Enter Task</label
                    >
                    {{form.add_task}}
                </div>
                <div class="submit_container">
                    <input type="submit" id="task-submit" value="Submit" />
                </div>
            </form>
        </section>
        <section class="list">
            {% if instances %}
                <div class="tasks">
                    <h2>Pending Tasks</h2>
                    {% for instance in instances %}
                    <ul>
                        <li>
                            <div class="left">
                                <h3>{{instance.add_task|truncatechars:25}}</h3>
                            </div>
                            <div class="right">
                                <a href="{% url 'users:edit_task' id=instance.id %}">EDIT</a>
                                <a 
                                    href="{% url 'users:delete_task' id=instance.id %}"
                                    class="danger action-button reload"
                                    data-text="Are you sure want to remove this ToDo. You can't undo this action." 
                                    data-title="Confirm Delete!"
                                    title="Delete!"
                                >DELETE</a>
                                <a href="{% url 'users:finish_task' id=instance.id %}">FINISHED</a>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                {% if completed_instances %}
                <div class="completed">
                    <h2>Completed Tasks</h2>
                    {% for instance in completed_instances %}
                    <ul>
                        <li>
                            <div class="left">
                                <h3>{{instance.add_task|truncatechars:25}}</h3>
                            </div>
                            <div class="right">
                                <a 
                                    href="{% url 'users:delete_task' id=instance.id %}"
                                    class="danger action-button reload"
                                    data-text="Are you sure want to remove this post. You can't undo this action." 
                                    data-title="Confirm Delete!"
                                    title="Delete!"
                                >DELETE</a>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
        </section>
    </body>
</html>
